* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(blue,red);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	height: 100vh;
	text-align: center;
}

h1 {
	font-family: cursive;
	font-size: 2.5rem;
}
span {
	font-size: 2rem;
}

button{
background: black;
color: white;
padding: 1rem 2rem;
font-size: 1.1rem;
margin: 1rem;
}